a[data-fancybox] img {
    cursor: zoom-in;
}

.fancybox__container {
    --fancybox-bg: #fff;
    --fancybox-color: #333;
    --fancybox-accent-color: #e879f9;
    --carousel-button-svg-filter: none;
    display: flex;
    flex-direction: row;
}

.fancybox__toolbar {
    position: relative;
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(30px);
    border-bottom: 1px solid #edeef0;
    text-shadow: none;
    font-weight: 400;
    --carousel-button-svg-stroke-width: 1.75;
    --carousel-button-svg-width: 22px;
    --carousel-button-svg-height: 22px;
}

.fancybox__slide {
    padding-top: 8px;
    padding-bottom: 8px;
}

.fancybox__nav {
    --carousel-button-bg: #e5e7eb;
    --carousel-button-border-radius: 6px;
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}

.fancybox__leftCol {
    width: 80vw;
    min-height: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.fancybox__rightCol {
    width: 20vw;
    height: 100%;
    padding: 2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #edeef0;
    opacity: var(--fancybox-opacity, 1);
}


/* Opening */

.fancybox__container.is-animated[aria-hidden="false"] .fancybox__rightCol {
    animation: 0.15s ease backwards fancybox-fadeIn;
}


/* Closing */

.fancybox__container.is-animated.is-closing .fancybox__rightCol {
    animation: 0.15s ease both fancybox-fadeOut;
}

.fancybox__container.is-animated.is-closing .fancybox__leftCol {
    overflow: visible;
}