html {
    color: var(--text-color);
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

.p-button {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    padding: 5px 10px;
}