html {
    --text-color: rgba(0, 0, 0, 0.9);
    --text-color-2: rgba(102, 102, 102, 0.9);
    --invert-text-color: rgba(241, 241, 241, 0.9);
    --background: #ffffff;
    --background-2: #f5f5f5;
    --invert-background: rgb(46, 45, 45);
    //   
    --hover-text-color: rgba(68, 68, 68, 0.9);
    --hover-invert-text-color: rgba(221, 221, 221, 0.9);
    --hover-background: #f3f3f3;
    --hover-invert-background: rgb(48, 48, 48);
    // 
    --active-text-color: rgba(63, 63, 63, 0.9);
    --active-invert-text-color: rgba(228, 228, 228, 0.9);
    --active-background: #f8f8f8;
    --active-invert-background: rgb(46, 46, 46);
    // 
    --border-color: rgb(233, 232, 232);
    --hover-bg-color: rgb(233, 232, 232);
    --hover-border-color: rgb(207, 207, 207);
    --active-bg-color: rgb(243, 243, 243);
    --active-border-color: rgb(190, 190, 190);
}

.dark {
    --text-color: rgba(233, 233, 233, 0.9);
    --text-color-2: rgba(233, 233, 233, 0.9);
    --invert-text-color: rgba(77, 77, 77, 0.9);
    --background: #000000;
    --background-2: #1d1d1d;
    --invert-background: rgb(196, 196, 196);
    //  
    --hover-text-color: rgba(194, 194, 194, 0.9);
    --hover-invert-text-color: rgba(221, 221, 221, 0.9);
    --hover-background: #f3f3f3;
    --hover-invert-background: rgb(185, 185, 185);
    //     
    --active-text-color: rgba(199, 198, 198, 0.9);
    --active-invert-text-color: rgba(80, 80, 80, 0.9);
    --active-background: #636262;
    --active-invert-background: rgb(180, 179, 179);
    //   
    --border-color: rgb(49, 49, 49);
    --hover-bg-color: rgb(56, 56, 56);
    --hover-border-color: rgb(56, 56, 56);
    --active-bg-color: rgb(83, 83, 83);
    --active-border-color: rgb(230, 230, 230);
}